.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Lobster', sans-serif;
  color: white;
  font-size: 10rem;
  margin: 0;
}
